{% extends "index.html" %}
{% load static %}


{% block content %}

<body id="content" class="portal-content">
  <h1>Portal </h1>

  <div id="Botones-Portal" class="portal-content">
    <a href="{% url 'lista_materiales' %}">
      <img src="{% static 'img/materiales.png' %}" alt="Materiales">
    </a>
    <a href="{% url 'lista_reportes' %}" class="reportes">
      <img src="{% static 'img/reportes.png' %}" alt="Reportes">
    </a>
  </div>

</body>
<link rel="stylesheet" href="{% static 'Portal.css' %}">
{% endblock %}
