{% extends "index.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<style>
  /* Agregar estilos personalizados aquí */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-body {
    padding: 40px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .details {
    margin-bottom: 20px;
  }

  .details strong {
    font-weight: bold;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .btn-back {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s;
    text-decoration: none;
  }

  .btn-back:hover {
    background-color: #0056b3;
  }
</style>

<div class="container mt-4">
  <h2>Detalles del Producto</h2>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <div class="details">
              <p><strong>Artículo:</strong> {{ material.nombre_articulo }}</p>
              <p><strong>Cantidad disponible:</strong> {{ material.cantidad }}</p>
              <p><strong>Precio por unidad:</strong> ${{ material.precio_unitario|floatformat:2 }}</p>
              <p><strong>Descripción del Producto:</strong> {{ material.descripcion }}</p>
              <p><strong>Origen del Producto:</strong> {{ material.get_origen_display }}</p>
              {% if material.unidades_o_paquetes %}
                <p><strong>Unidades del paquete:</strong> {{ material.cantidad_por_paquete }}</p>
              {% endif %}
              <img src="{{ material.imagen.url }}" alt="{{ material.nombre }}" class="img-thumbnail">
            </div>

            <a href="{% url 'lista_materiales' %}" class="btn btn-back">
              Volver a la Lista
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
