{% extends "index.html" %}
{% load static %}

{% block title %}
    Editar producto
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'lista_materiales.css' %}">
<style>
  .container {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  .btn {
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
  }

  .btn-primary {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #fff;
  }

  .btn-secondary {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #fff;
  }

  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }

  .hidden-field {
    display: none;
  }
</style>

<div class="container">
  <form method="post" enctype="multipart/form-data" class="my-4">
    <h2 class="mb-4">Editar producto</h2>
    {% csrf_token %}

    <div class="form-group">
      <label for="id_nombre_articulo">Nombre del Artículo:</label>
      {{ form.nombre_articulo }}
    </div>

    <div class="form-group">
      <label for="id_precio_unitario">Precio Unitario:</label>
      {{ form.precio_unitario }}
    </div>
    
    {# Campo de cantidad con la clase CSS para ocultarlo visualmente #}
    <div class="form-group {% if form.cantidad.value == '' %}hidden-field{% endif %}">
      <label for="id_cantidad">Cantidad:</label>
      {{ form.cantidad }}
    </div>

    <div class="form-group">
      <label>¿Se vende en paquetes?</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="unidades_o_paquetes" id="unidades_si" value="True" {% if form.unidades_o_paquetes.value == 'True' %}checked{% endif %}>
        <label class="form-check-label" for="unidades_si">
          Sí
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="unidades_o_paquetes" id="paquetes_no" value="False" {% if form.unidades_o_paquetes.value == 'False' %}checked{% endif %}>
        <label class="form-check-label" for="paquetes_no">
          No
        </label>
      </div>
    </div>

    <div class="form-group" id="paquetesOptions" {% if form.unidades_o_paquetes.value == 'True' %}style="display: none;"{% endif %}>
      <label for="id_cantidad_por_paquete">Cantidad por paquete:</label>
      {{ form.cantidad_por_paquete }}
    </div>

    <div class="form-group">
      <label for="id_imagen">Imagen:</label>
      {{ form.imagen }}
    </div>

    <div class="form-group">
      <label for="id_descripcion">Descripción:</label>
      {{ form.descripcion }}
    </div>

    <div class="form-group">
      <label for="id_umbral">Umbral mínimo:</label>
      {{ form.umbral }}
    </div>

    <div class="form-group">
      <label for="id_origen">Origen:</label>
      {{ form.origen }}
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a href="{% url 'lista_materiales' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    $('input[type="radio"][name="unidades_o_paquetes"]').change(function() {
      if ($(this).val() === 'True') {
        $('#paquetesOptions').show();
      } else {
        $('#paquetesOptions').hide();
      }
    });

    // Trigger the change event initially
    $('input[type="radio"][name="unidades_o_paquetes"]:checked').trigger('change');
  });
</script>
{% endblock %}
